* {margin: 0; padding: 0;}

p {line-height: 160%;}

a {text-decoration: none; color: #fff; transition: all 0.1s ease-in;}
img {border: 0;}


.clear {clear: both;}


/* Separators */
.separator {
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.2);
	width: 30px;
	height: 5px;
}

/* 02. FONT FACE ============================================ */

@font-face {
    font-family: 'norwester';
	src: url('../fonts/norwester/norwester.eot');
    src: url('../fonts/norwester/norwester.eot?iefix') format('embedded-opentype'),
		 url('../fonts/norwester/norwester.ttf');
    font-weight: normal;
}

/* 03. SPEAKERS SETTINGS ============================================ */

#speakers {
	padding: 60px 0;
	background: #ffffff;
	text-align: center;	
}

#speakers p {
	padding: 20px 0 60px;
	color: #646970;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
}

#speakers h3 {
	padding: 0 0 15px;
	font-family: 'norwester';
	color: #646970;
	font-size: 36px;
	text-transform: uppercase;
}

#speakers h4  {
	margin-top: -20px;
	font-size: 32px;
	font-weight: 700;
}

#speakers h4 span {
	display: block;
	position: relative;
	left: -40px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}

#speakers img {
	width: 100%;
	max-width: 240px;
	border-radius: 50%; 
	border: 15px solid transparent; 
	box-shadow: 2px 2px 0px #646970;
	transition: all 0.1s ease-in;
}
	
#speakers img:hover {
	border: 15px solid #646970;
	position: relative;
	z-index: 10;
	transition: all 0.1s ease-in;	
}

#speakers span {
	padding: 8px 20px;
	position: relative;
	top: -64px;
	left: -42px;
	display: inline-block;
	background: #fff;
	color: #000000;
	border-radius: 0 16px 16px 0;
	font-size: 16px;
}

/* Member Image Hover Effect */
.hover_img {
  display: none
}

.member-profile:hover .unhover_img{
  display: none;
}

.member-profile:hover .hover_img {
  display: block;
}

/* Social Networks Meta */
#speakers li {display: inline-block; padding: 0 6px; font-size: 18px;}
#speakers li a {color: rgba(0,0,0, 0.3); transition: all 0.1s ease-in;}
#speakers li a:hover {color: rgba(0,0,0, 0.7);}



/* Mobile Devices Optimization */
@media (min-width: 568px) and (max-width: 992px) {



	#speakers img {max-width: 300px;}

}
